<h3 style="background-color: brown;">with No animation</h3>

<mat-tab-group animationDuration="0ms">
  <mat-tab label="First">calling tab1</mat-tab>
  <mat-tab label="Second">calling tab2</mat-tab>
  <mat-tab label="Third">calling tab3</mat-tab>
</mat-tab-group>

<h3 style="background-color: chocolate;">With animation animation</h3>
<mat-tab-group animationDuration="3000ms">
  <mat-tab label="First">calling tab1 with animation</mat-tab>
  <mat-tab label="Second">calling tab2 with animation</mat-tab>
  <mat-tab label="Third">calling tab3 with animation</mat-tab>
</mat-tab-group>